.row
  .span8
    = archive_breadcrumb @archive

= render_archive @archive

.row
  .span8
    .btn-group
      = link_to('#', {class: 'btn active'}) do
        %i.icon-time
        Newest
      = link_to('#', {class: 'btn'}) do
        %i.icon-fire
        Popular
      = link_to('#', {class: 'btn'}) do
        %i.icon-eye-open
        Discussed
    / %form#new-post-form.well.form-inline
    /   %label.control-label
    /     New Post:
    /     .input-append
    /       = text_field_tag '', '', placeholder: 'Write something...'
    /       = link_to '#', {class: 'btn'} do
    /         %i.icon-pencil
    /         Text
    /       = link_to '#', {class: 'btn'} do
    /         %i.icon-upload
    /         Upload
.row
  .span8
    .posts
      - @archive.posts.each do |post|
        = render_post post
