.row.post
  .scoring.span1
    %ul.unstyled
      %li.upvote
        = link_to '', class: 'btn btn-mini' do
          %i.icon-arrow-up
      %li.score.lead
        = 0
      %li.downvote
        = link_to '', class: 'btn btn-mini' do
          %i.icon-arrow-down

  / - if rand(100) > 50
  .thumb.span1
    = link_to '', class: 'thumbnail' do
      = image_tag 'http://placehold.it/70x70'
  .details.span8
    = render partial: 'nitch/posts/details', locals: { post: post, options: options }
  / - else
  /   .details.span9
  /     = render partial: 'nitch/posts/details', locals: { post: post, options: options }

- if options[:body_expanded]
  .row
    .post-content.span9.offset1
      .content
        .body.well
          = simple_format post.body
