.row
  .span10
    = archive_breadcrumb @archive, @post

.row
  .span10
    #post
      = render_post @post, body_expanded: true, comments_count: false

.row
  .span10
    #post-comments-header
      = pluralize(@post.comments_count, 'Comment')
      = render partial: 'nitch/comments/form', locals: { archive: @archive, post: @post, parent: nil }
    #post-comments
      - @post.comments.roots.each do |comment|
        = render_comment comment